<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello!'" />
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <table style="width: 33.33%" class="table table-dark table-bordered">
                <tr>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell00"></button>
                    </td>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell01"></button>
                    </td>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell02"></button>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell10"></button>
                    </td>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell11"></button>
                    </td>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell12"></button>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell20"></button>
                    </td>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell21"></button>
                    </td>
                    <td style="width: 33.33%">
                        <button type="button" class="cell" id="cell22"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
</body>
</html>